services:
  searxng-ts:
    image: tailscale/tailscale:latest
    container_name: searxng-ts
    hostname: savitri
    cap_add:
      - net_admin
    volumes:
      - ./state:/var/lib/tailscale
      - ./ts-config:/config
    devices:
      - dev/net/tun:/dev/net/tun
    environment:
      - TS_EXTRA_ARGS=--advertise-tags=tag:container
      - TS_STATE_DIR=/var/lib/tailscale
      - TS_SERVE_CONFIG=/config/serve-config.json
      - TS_USERSPACE=false
    dns:
      - 100.100.100.100
      - 1.1.1.1
    restart: unless-stopped
  searxng-redis:
    container_name: searxng-redis
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    volumes:
      - valkey-data2:/data
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1

  searxng:
    container_name: searxng
    image: docker.io/searxng/searxng:latest
    restart: unless-stopped
    volumes:
      - ./searxng:/etc/searxng:rw
      - searxng-data:/var/cache/searxng:rw
    environment:
      - SEARXNG_BASE_URL=https://savitri.troodon-godzilla.ts.net/
      - UWSGI_WORKERS=4
      - UWSGI_THREADS=4
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    network_mode: "service:searxng-ts"
    logging:
      driver: json-file
      options:
        max-size: 1m
        max-file: 1

volumes:
  valkey-data2:
  searxng-data:
